.modal-content {
  width: 540px;
  height: max-content;
  padding: 30px;
  text-align: left;
  @media only screen and (max-width: 767px) {
    width: 320px;
    padding: 20px;
  }
  .modal-success {
    width: 400px;
    height: 152px;
    @media only screen and (max-width: 767px) {
      width: 320px;
      // height: max-content;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 24px;
  }
  p {
    font-size: 16px;
    color: #212037;
    padding: 10px 0 20px 0;
  }
  .field {
    margin-bottom: 0;
    height: 48px !important;
  }
  .btn {
    width: 96px;
    height: 36px;
    border-radius: 4px;
    font-size: 14px;
    float: right;
    margin: 30px 0;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .btn-reset {
    margin-bottom: 0;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    &:hover {
      background: #e0e0e0 !important;
      color: #bdbdbd !important;
      opacity: 1 !important;
      border-radius: 4px !important;
      // border-color: #e0e0e0 !important;
    }
    &:active {
      background: #e0e0e0 !important;
      color: #bdbdbd !important;
    }
  }
}
.omrs-input-filled > input {
}
